body {
    background-color: rgb(231, 175, 100);
}

.text {
    color: rgb(73, 27, 4);
}

.link {
    text-decoration: underline;
    text-decoration-color: rgb(73, 27, 4);
}

.recipe-preview {
    height: 200px;
    width: 200px;
}

.recipe-link {
    display: inline-block;
}

figcaption {
    text-align: center;
    
}