body {
    background-color: rgb(231, 175, 100);
}

.text {
    color: rgb(73, 27, 4);
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.link {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: rgb(73, 27, 4);
}

#intro {
    display: inline-block;
    width: auto; 
    height: 400px;
}

#intro-text {
    display: inline-block;
    width: 300px;
    padding: 10px;
    vertical-align: top;
}

.recipe-preview {
    height: 200px;
    width: 200px;
}

.recipe-link {
    display: inline-block;
}

figcaption {
    text-align: center;
}